<div class="music-card">
    <div class="album-cover">
        <a href=" {{ musiccard.raw.link }} " target="_blank">
            <i class="icon-play"></i>
            <div class="cover-image">
                <img src="{{ musiccard.raw.cover }}">
            </div>
        </a>
    </div>
    <div class="album-details">
        <div class="album-artist">
            <p>{{ musiccard.raw.artist }}</p>
        </div>
        {% if musiccard.raw.track_title %}
        <div class="track-title">
            <p>{{ musiccard.raw.track_title }}</p>
        </div>
        {% if musiccard.raw.album_title %}
        <div class="track-title-footer">
            <p>from the album<p>
        </div>
        {% endif %}        
        {% endif %}
        <div class="album-title">
            <p>{{ musiccard.raw.album_title }}</p>
        </div>
        <div class="album-release-date">
            <p> {{ musiccard.raw.release_date }} </p>
        </div>
        <div class="music-source">
            {% if musiccard.raw.source == 'spotify' %}
            <i class="icon-spotify"></i>
            {% endif %}
            {% if musiccard.raw.source == 'soundcloud' %}
            <i class="icon-soundcloud"></i>
            {% endif %}
            {% if musiccard.raw.source == 'bandcamp' %}
            <i class="icon-bandcamp"></i>
            {% endif %}
        </div>
    </div>
</div>